@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

$container-width: 19rem;
$container-height: 5rem;
$bg-color: #F7F5F2;
$ot-color: #1A374D;
$font-detail: medium, 'Roboto Mono', monospace;
$font-fam: 'Roboto Mono', monospace;
$space: 3px;
$transy: translateY(-50%);
$btop: 5px solid #40DFEF;
$rad: 5px;