@use 'variables' as v;

.type-container {
    width: v.$container-width;
    height: v.$container-height;
    background-color: v.$bg-color;
    text-align: center;
    margin: auto;
}

.typer {
    margin: 0;
    position: relative;
    top: 50%;
    -webkit-transform: v.$transy;
    -ms-transform: v.$transy;
    transform: v.$transy;
    padding: 5px;
    outline-color: v.$ot-color;
    font: v.$font-detail;
    text-align: center;
    letter-spacing: v.$space;
}